name: Build-Dockerhub

on:
  push:
    branches:
      - main

  
jobs:
  publish-docker:
    runs-on: self-hosted
    steps:
      - name: 拉取源码
        uses: actions/checkout@v3
        with:
            fetch-depth: 1
      - name: 设置 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 登录到 DockerHub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 构建和推送Docker hub
        uses: docker/build-push-action@v6
        with:
            context: .
            platforms: linux/amd64
            push: true
            tags: |
                 docker.io/${{ secrets.DOCKERHUB_USERNAME }}/runpod-worker-comfy:latest
